# Final Scoring in the Competition and Ranking!

__Submission__

![title](submission_score.png)

__Leaderboard as of 03/12/2022__

![title](leaderboard_1.png)

__Imports__

In [1]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer

__Dataset__

In [2]:
digit = pd.read_csv("data/train.csv")
digit_test = pd.read_csv("data/test.csv")

__Training Dataset View__

In [3]:
digit.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

__Test Dataset View__

In [4]:
digit_test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

__Get only values__

In [5]:
x = digit.drop('label', axis = 1).values
y = digit.label.values

In [6]:
x.shape

(42000, 784)

In [7]:
y.shape

(42000,)

__Re-scaling__

In [8]:
x = x/255.0
test_df = digit_test.values/255.0

__Reshaping__

In [9]:
x_train = x.reshape(x.shape[0], 28, 28,1)
test_df = test_df.reshape(digit_test.shape[0], 28, 28,1)
y_train = y.reshape(-1,1)

__Splitting Data__

In [10]:
x_train, x_valid, y_train, y_valid = train_test_split(x_train,y_train,test_size = 0.20, 
                                                      random_state = 141)

__Clear the Backend__

In [11]:
keras.backend.clear_session()
np.random.seed(42)
tf.random.set_seed(42)

__Piecewise Constant Scheduling__
* Added an additional learning constant
* A dynamic learning process

In [12]:
def piecewise_constant_fn(epoch):
    if epoch < 5:
        return 0.01
    elif epoch < 10:
        return 0.005
    elif epoch < 15:
        return 0.003
    elif epoch < 20:
        return 0.001
    else:
        return 0.0001

In [13]:
def piecewise_constant(boundaries, values):
    boundaries = np.array([0] + boundaries)
    values = np.array(values)
    def piecewise_constant_fn(epoch):
        return values[np.argmax(boundaries > epoch) - 1]
    return piecewise_constant_fn
piecewise_constant_fn = piecewise_constant([5,10,15,20,25], [0.01, 0.005,0.003,0.001,0.0001])

In [14]:
lr_scheduler = keras.callbacks.LearningRateScheduler(piecewise_constant_fn)

__Model Creation__

In [15]:
model = keras.models.Sequential()
model.add(keras.layers.Conv2D(filters=64, kernel_size=(5, 5),padding="valid" ,
                              activation='elu',kernel_initializer="lecun_normal", input_shape=(28,28,1)))
model.add(keras.layers.AveragePooling2D())
model.add(keras.layers.BatchNormalization())
model.add(keras.layers.Conv2D(filters=32, kernel_size=(5, 5),padding="valid", 
                              activation='elu',kernel_initializer="lecun_normal"))
model.add(keras.layers.AveragePooling2D())
model.add(keras.layers.BatchNormalization())
model.add(keras.layers.GaussianDropout(0.25))
model.add(keras.layers.Flatten())
model.add(keras.layers.BatchNormalization())
model.add(keras.layers.Dense(units=128, activation='selu',kernel_initializer="lecun_normal"))
model.add(keras.layers.BatchNormalization())
model.add(keras.layers.Dense(units=64, activation='selu',kernel_initializer="lecun_normal"))
model.add(keras.layers.Dense(units=10, activation = 'softmax'))

In [16]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 24, 24, 64)        1664

 average_pooling2d (AverageP  (None, 12, 12, 64)       0
 ooling2D)

 batch_normalization (BatchN  (None, 12, 12, 64)       256
 ormalization)

 conv2d_1 (Conv2D)           (None, 8, 8, 32)          51232

 average_pooling2d_1 (Averag  (None, 4, 4, 32)         0
 ePooling2D)

 batch_normalization_1 (Batc  (None, 4, 4, 32)         128
 hNormalization)

 gaussian_dropout (GaussianD  (None, 4, 4, 32)         0
 ropout)

 flatten (Flatten)           (None, 512)               0

 batch_normalization_2 (Batc  (None, 512)              2048
 hNormalization)

 dense (Dense)               (None, 128)               65664

 batch_normalization_3 (Batc  (None, 128)              512
 hNormalization)

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 10)                650

=================================================================
Total params: 130,410
Trainable params: 128,938
Non-trainable params: 1,472
_________________________________________________________________

__Model Compile__

In [17]:
model.compile(loss="sparse_categorical_crossentropy",optimizer=keras.optimizers.Adam(clipvalue=1.0,clipnorm=1.0),metrics=["accuracy"])

__Model Fitting__

In [18]:
history = model.fit(x_train,y_train,epochs=25,validation_data=(x_valid,y_valid),callbacks=[lr_scheduler])

Epoch 1/25
1050/1050 [==============================] - 13s 5ms/step - loss: 0.2471 - accuracy: 0.9267 - val_loss: 0.1159 - val_accuracy: 0.9674 - lr: 0.0100
Epoch 2/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.1222 - accuracy: 0.9643 - val_loss: 0.1094 - val_accuracy: 0.9687 - lr: 0.0100
Epoch 3/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.1019 - accuracy: 0.9701 - val_loss: 0.0872 - val_accuracy: 0.9763 - lr: 0.0100
Epoch 4/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0908 - accuracy: 0.9741 - val_loss: 0.0541 - val_accuracy: 0.9855 - lr: 0.0100
Epoch 5/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0862 - accuracy: 0.9763 - val_loss: 0.0705 - val_accuracy: 0.9826 - lr: 0.0100
Epoch 6/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0448 - accuracy: 0.9862 - val_loss: 0.0444 - val_accuracy: 0.9883 - lr: 0.0050
Epoch 7/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0390 - accuracy: 0.9879 - val_loss: 0.0437 - val_accuracy: 0.9896 - lr: 0.0050
Epoch 8/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0431 - accuracy: 0.9870 - val_loss: 0.0407 - val_accuracy: 0.9893 - lr: 0.0050
Epoch 9/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0369 - accuracy: 0.9890 - val_loss: 0.0436 - val_accuracy: 0.9893 - lr: 0.0050
Epoch 10/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0357 - accuracy: 0.9898 - val_loss: 0.0444 - val_accuracy: 0.9889 - lr: 0.0050
Epoch 11/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0250 - accuracy: 0.9923 - val_loss: 0.0402 - val_accuracy: 0.9899 - lr: 0.0030
Epoch 12/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0207 - accuracy: 0.9932 - val_loss: 0.0390 - val_accuracy: 0.9912 - lr: 0.0030
Epoch 13/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0231 - accuracy: 0.9924 - val_loss: 0.0341 - val_accuracy: 0.9920 - lr: 0.0030
Epoch 14/25
1050/1050 [==============================] - 6s 5ms/step - loss: 0.0214 - accuracy: 0.9928 - val_loss: 0.0464 - val_accuracy: 0.9900 - lr: 0.0030
Epoch 15/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0218 - accuracy: 0.9930 - val_loss: 0.0403 - val_accuracy: 0.9905 - lr: 0.0030
Epoch 16/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0128 - accuracy: 0.9954 - val_loss: 0.0330 - val_accuracy: 0.9921 - lr: 0.0010
Epoch 17/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0116 - accuracy: 0.9962 - val_loss: 0.0330 - val_accuracy: 0.9921 - lr: 0.0010
Epoch 18/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0103 - accuracy: 0.9966 - val_loss: 0.0343 - val_accuracy: 0.9918 - lr: 0.0010
Epoch 19/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0079 - accuracy: 0.9972 - val_loss: 0.0352 - val_accuracy: 0.9924 - lr: 0.0010
Epoch 20/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0092 - accuracy: 0.9967 - val_loss: 0.0349 - val_accuracy: 0.9927 - lr: 0.0010
Epoch 21/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0072 - accuracy: 0.9975 - val_loss: 0.0332 - val_accuracy: 0.9929 - lr: 1.0000e-04
Epoch 22/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0069 - accuracy: 0.9978 - val_loss: 0.0327 - val_accuracy: 0.9930 - lr: 1.0000e-04
Epoch 23/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0059 - accuracy: 0.9978 - val_loss: 0.0329 - val_accuracy: 0.9931 - lr: 1.0000e-04
Epoch 24/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0064 - accuracy: 0.9978 - val_loss: 0.0322 - val_accuracy: 0.9930 - lr: 1.0000e-04
Epoch 25/25
1050/1050 [==============================] - 5s 5ms/step - loss: 0.0066 - accuracy: 0.9977 - val_loss: 0.0321 - val_accuracy: 0.9930 - lr: 1.0000e-04

__Save the Model__
* I already saved this model to local and cloud

In [19]:
#model.save("Digit_Recog_Mod_2.h5")

In [20]:
#ml = keras.models.load_model("Digit_Recog_Mod_2.h5")

__Testing Model Against Test Data__

In [21]:
pred = model.predict(test_df)

__Get the index of the max value in the array__

In [22]:
prediction = [np.argmax(i) for i in pred]

In [23]:
img_id = list(range(1,28001))
img_id = np.array(img_id)

In [24]:
img_id.shape

(28000,)

__Final Dataframe of Predictions__
* Has to be in this format for the competition

In [25]:
df = pd.DataFrame({"ImageId":img_id,"Label":prediction})
df.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      0
4        5      3

In [26]:
df.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      0
4        5      3

In [27]:
df.tail()

       ImageId  Label
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

__Download to csv format__

In [28]:
#df.to_csv("Michael_Woo_Predictions_Digit_Recog_2.csv",index=False)